@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gio Gutierrez</h1>
    <p class="lead">Knowledge test.</p>
    <p><a href="https://github.com/giovaguty87/WebAppRentCompany" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent a Car</h2>
        <p>
            Is an application that allows manage your business and control your money and time.
        </p>
        <p><a class="btn btn-default" href="https://github.com/giovaguty87/WebAppRentCompany">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more control and money</h2>
        <p>You can customize your application according to your needed, please let us know about it, and please don't hesitate contact us.</p>
        <p><a class="btn btn-default" href="https://github.com/giovaguty87/WebAppRentCompany">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a company that offers the right mix of features and price for your mobile application.</p>
        <p><a class="btn btn-default" href="https://github.com/giovaguty87/WebAppRentCompany">Learn more &raquo;</a></p>
    </div>
</div>